.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0%;
  min-width: 150px;
}

.sidebar__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.sidebar__username {
  font-family: Cabinet Grotesque, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
