.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-left: 590px;
}

.toggle-switch__checkbox {
  opacity: 0;
}

/* absolute position is based on parent container - toggle-switch */
.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: 0.3s;
}

.toggle-switch__text {
  color: gray;
  position: absolute;
  top: 5px;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

/* the ~ is a combinator for sibling (when the element is checked, any siblings that have the sam class, will have the below styles*/
.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
  background-color: black;
}
