.profile {
  display: flex;
  gap: 120px;
  /* padding: 40px 40px 0; */
  width: 100%;
  min-width: 1440px;
  margin: 0 auto;
}

.profile__sidebar {
  flex-shrink: 0;
  padding-left: 40px;
}

.profile__clothing-items {
  flex-grow: 1;
  padding: 0;
  min-width: 1100px;
}
