.page {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1440px;
  margin: 0 auto;
  flex: 1;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}
