.page {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.page__content {
  max-width: 1440px;
  /* margin: 0 auto; */
  flex: 1;
  width: 100%;
  /* padding: 0 40px; */
  box-sizing: border-box;
}
